@font-face {
    font-family: RalewayMedium;
    src: url(fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: RalewayBold;
    src: url(fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: RalewayExtraBold;
    src: url(fonts/Raleway-ExtraBold.ttf);
}

.hidden {
    display: none;
}

* {
    font-family: RalewayMedium;
}